<form>
  <div class="example-container">

  <mat-form-field appearance="fill">
    <mat-label>Enter your cin</mat-label>
    <input matInput placeholder="CIN"  >

  </mat-form-field>
</div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your name </mat-label>
      <input matInput placeholder="NAME"  >

    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your cv type </mat-label>
      <input matInput placeholder="CV TYPE "  >

    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your  </mat-label>
      <input matInput placeholder="????"  >

    </mat-form-field>
    <button type="submit"> submit </button>
  </div>

</form>
